*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* transition: all .15s; */
}
.dark{
  --bg: #000;
  --bg2: #222;
  --switcherBg: #555;
  --toggle: rgb(190, 190, 190);
  --textColor: #777;
  --blue: rgb(38, 104, 245);
  --white: #fff;
  --btnBg: #333;
  --btnColor: #fff;
}
.light{
  --bg: #fff;
  --bg2: #fff;
  --switcherBg: rgb(190, 190, 190);
  --toggle: #fff;
  --textColor: #888;
  --blue: rgb(38, 104, 245);


  --white: #fff;
  --btnBg: rgb(190, 190, 190);
  --btnColor: #333;
}
.wrapper{
  background: var(--bg);
  width: 100%;
  height: 100vh;
  /* padding: 10px; */
  position: relative;
}
.black{
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: none;
  transition: all .15s;
}
.black.active{
  display: block;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  color: var(--textColor);
  padding: 20px;
  border-radius: 20px;
  height: 92px;
  overflow: hidden;
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* position: relative; */
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: 50px; */
}
.card.active{
  height: 392px;
  /* height: 100%; */
  background: var(--bg2);
  /* box-shadow: 10px 10px 10px 30px rgba(0,0,0,0.1); */
}
body.light .black{
  background: rgba(0,0,0,0.4);
}
.card:hover{
  /* background: #222; */
}
.card__header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background: red; */
}
.card__time{}
.time{
  font-size: 30px;
  display: flex;
  align-items: center;
}
.cycle{
  font-size: 15px;
}
.switcher{
  width: 45px;
  height: 22px;
  border-radius: 20px;
  background: var(--switcherBg);
  position: absolute;
  top: 35px;
  right: 20px;
  transition: all .15s;
}
.switcher__toggle{
  background: var(--toggle);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  transition: all .25s;
}
.switcher.active{
  background: var(--blue);
}
.switcher.active .switcher__toggle{
  background: var(--white);
  left: 90%;
  transform: translate(-90%, -50%);
}

.card__main{
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: 40px 0;
  position: relative;
}
.line{
  position: absolute;
  width: 1px;
  height: 250px;
  /* background: red; */
  background: linear-gradient(rgba(0,0,0,0), var(--btnBg), rgba(0,0,0,0));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.col__block{
  position: relative;
  width: 105px;
  height: 175px;
  overflow: hidden;
}
.col{
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.hour{
  top: 0;
  transition: top .25s;
}
.minutes{
  top: 0;
  transition: top .25s;
}
.col div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  transition: color .15s;
}


.card__btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.btn{
  width: 100%;
  padding: 12px 0;
  background: var(--btnBg);
  border: 0;
  border-radius: 20px;
  color: var(--btnColor);
  box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
}






.switcher__block{
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; */
  position: absolute;
  z-index: 2;
  top: 90%;
  transform: translateY(-90%);
  left: calc(100% - 45px);
  /* width: 100%; */
}
.styleSwitcher{
  width: 45px;
  height: 22px;
  border-radius: 20px;
  background: var(--switcherBg);
  position: relative;
  top: 35px;
  right: 20px;
  transition: all .15s;
}
.styleToggle{
  background: var(--toggle);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  transition: all .25s;
}
.styleSwitcher.active{
  background: var(--blue);
}
.styleSwitcher.active .styleToggle{
  background: var(--white);
  left: 90%;
  transform: translate(-90%, -50%);
}